<div class="container">
  <div class="jumbotron">
    <h1><img src="assets/images/pixel.png" height="103" width="345" alt="Instagram" class="sprite main"></h1>
    <p>{{ 'INTRO' | translate}}</p>
    <p>
      <a class="btn btn-success btn-lg" [routerLink]="['/login']"><fa name="sign-in" size="1" aria-hidden="true"></fa>&nbsp;Login</a>
      <a class="btn btn-primary btn-lg" [routerLink]="['/signup']"><fa name="user-plus" size="1" aria-hidden="true"></fa>&nbsp;Register</a>
    </p>
  </div>
</div>
