<div class="container">
  <div class="jumbotron">
    <h1><img src="assets/images/pixel.png" height="103" width="345" alt="Instagram" class="sprite main"></h1>
    <p>{{ 'INTRO' | translate }}</p>
    <p>
      <a class="btn btn-success btn-lg" [routerLink]="['/signin']"><span class="fa fa-sign-in"></span>&nbsp;{{ 'LOGIN_BTN' | translate }}</a>
      <a class="btn btn-primary btn-lg" [routerLink]="['/signup']"><span class="fa fa-user-plus"></span>&nbsp;{{ 'SIGNUP_BTN' | translate }}</a>
    </p>
  </div>
  <gallery [images]="images"></gallery>
</div>
