<div class="container">
  <div class="panel panel-default panel-login">
    <div class="panel-heading">
        <h4 class="text-center">
          <fa name="sign-in" size="1" aria-hidden="true"></fa> Log in
        </h4>
    </div>
    <div class="panel-body">
      <form name="loginForm" action="" method="post">
        <div class="form-group has-feedback">
          <input class="form-control" id="email" type="email" placeholder="Email">
          <label class="form-control-feedback" for="email"><fa name="envelope-o" size="1" aria-hidden="true"></fa></label>
        </div>
        <div class="form-group has-feedback">
          <input class="form-control" id="password" type="password" placeholder="Password">
          <label class="form-control-feedback" for="password"><fa name="key" size="1" aria-hidden="true"></fa></label>
        </div>
        <input type="submit" class="btn btn-block btn-success" value="Log in"/>
      </form>
      <br />
      <p class="text-center text-muted">
        Don't have an account yet? <a href="#/signup">Sign up</a>
      </p>
      <div class="signup-or-separator">
          <h6 class="text">or</h6>
          <hr>
      </div>
    </div>
  </div>
</div>
